body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #676767;
}
.container {
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 30px 35px 86px rgb(0, 0, 0, 0.25),
    inset 7px 6px 13px rgba(0, 0, 0, 0.5),
    inset 7px 6px 13px rgb(255, 255, 255, 0.2),
    inset -7px -6px 15px rgb(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2f363e;
}

.clock {
  background: #2f363e;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  position: relative;
  box-shadow: 30px 35px 86px rgb(0, 0, 0, 0.25),
    inset 7px 6px 13px rgba(0, 0, 0, 0.5), inset 7px 6px 13px rgb(0, 0, 0, 0.2),
    inset -7px -6px 15px rgb(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.clock::before {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  border: 4px solid white;
  background: white;
  border-radius: 50%;
}
.num1 {
  position: absolute;
  inset: 15px;
  color: rgb(255, 254, 254);
  text-align: center;
  transform: rotate(calc(30deg * var(--i)));
}
.num2 {
  font-size: 3em;
  opacity: 0.7;
  font-weight: 800;
  display: inline-block;
  transform: rotate(calc(-30deg * var(--i)));

}
.hand {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hand i {
  position: absolute;
  background-color: var(--clr);
  width: 6px;
  height: 100px;
  border-radius: 8px;
}

#minitues i {
  height: 90px;
}
#seconds i {
  height: 80px;
}

.time {
  margin-bottom: 40px;
  display: flex;
  padding: 10px 20px;
  font-size: 2em;
  font-weight: 600;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 30px 35px 86px rgb(0, 0, 0, 0.25),
    inset -7px -6px 15px rgb(0, 0, 0, 0.75);
}

.time div {
  position: relative;
  width: 50px;
  text-align: center;
  font-weight: 400;
  color: var(--clr);
}
#hr::after {
  content: ":";
  position: absolute;
  right: -4px;
}

#mm::after {
  content: ":";
  position: absolute;
  right: -4px;
  animation: animate 1s steps(1) infinite;
}

#ampm {
  font-size: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

@keyframes animate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
